
<!-- Container for demo purpose -->

    <!-- Section: Design Block -->

    <section class="mb-32">

        <div
  id="carouselExampleCaptions"
  class="relative"
  data-te-carousel-init
  data-te-ride="carousel">

  <!--Carousel items-->
  <div
  style="height: 350px;"
    class="relative w-full  overflow-hidden after:clear-both after:block after:content-['']">
    {{ featured_image }}

    {{if index === 0}}
    <div
      class="relative float-left -mr-[100%] w-full h-fit transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-active
      data-te-carousel-item
      style="backface-visibility: hidden">
      <img
        src="{{ url }}"
        class="block w-full h-fit"
        alt="..." />
    </div>
    {{ else }}
    <div
      class="relative float-left -mr-[100%] hidden w-full h-fit transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      style="backface-visibility: hidden">
      <img
        src="{{ url }}"
        class="block w-full h-fit"
        alt="..." />
    </div>
    {{ endif }}

    {{ /featured_image }}

  </div>

  <!--Carousel controls - prev item-->
  <button
    class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#carouselExampleCaptions"
    data-te-slide="prev">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>
  <!--Carousel controls - next item-->
  <button
    class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#carouselExampleCaptions"
    data-te-slide="next">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>

        </div>
<div class="container mx-auto md:px-6">
      <h1 class="mb-4 text-3xl font-bold">
        <br>
        {{ title }}
      </h1>
      <h3 class="mb-2 text-1xl italic">{{ date }}, {{ author:name }}</h3>
      
      <pre class="w-full block">
        {{ content }}
      </pre>
    </div>
    </section>
    <!-- Section: Design Block -->
    <section class="text-gray-600 body-font">

        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Other News</h1>
              </div>
          <div class="flex flex-wrap -mx-4 -my-8">
            {{ collection:news url:not="{ url }" limit="3" }}
           
            <div class="py-8 px-4 lg:w-1/3">
              <div class="h-full flex items-start">
                <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                  <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">{{ date format="F" }}</span>
                  <span class="font-medium text-lg text-gray-800 title-font leading-none">{{ date format="d"}}</span>
                </div>
                <div class="flex-grow pl-6">
                    <a href="{{ url }}" >  <h1 class="title-font text-xl font-medium text-gray-900 mb-3">{{ title }}</h1></a>
                  <p class="leading-relaxed mb-5">{{ content | substr(0, 210) }}...</p>
                  <div style="height: 10px;"></div>
                  <a class="inline-flex items-center">
                    
                    <img alt="blog" src="https://dummyimage.com/103x103" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="flex-grow flex flex-col pl-3">
                      <span class="title-font font-medium text-gray-900">{{ author:name  }}</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            
            {{ /collection:news }}
          </div>
        </div>
      </section>
  <!-- Container for demo purpose -->